Source: resources-launcher
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@lliurex.net>
Build-Depends: llxsrchelper,debhelper (>= 10)
Standards-Version: 4.1.2

Package: resources-launcher
Architecture: all
Depends: ${misc:Depends},flash-java-insecure-perms
Description: resources-launcher
 Launcher for the educational resources
 
